@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Boutique_en_ligne.Models.Utilisateur

@{
    Layout = "_Layout";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center"><h5 class="font-weight-bold">Formulaire de connexion</h5></div>
                <div class="card-body">
                    <form asp-controller="Home" asp-action="Connecter" method="post">
                        <div class="form-group mb-4">
                            <label for="adresse_courriel"><i class="bi bi-envelope-fill"></i> Adresse Courriel</label>
                            <input type="email" asp-for="adresse_courriel" class="form-control" placeholder="Votre adresse courriel" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="mot_de_passe"><i class="bi bi-lock-fill"></i> Mot de Passe</label>
                            <input type="password" asp-for="mot_de_passe" class="form-control" name="mdp" placeholder="Mot de passe" required>
                        </div>
                        @if (ViewBag.ErrorMessageConnexion != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.ErrorMessageConnexion
                            </div>
                        }

                        <div class="form-group text-center mt-4">
                            <button type="submit" class="btn btn-primary"><i class="bi bi-key-fill"></i> Se Connecter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

