@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Boutique_en_ligne.Models.JeuVideo

@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2>Recherche de jeu</h2>

    <form action="RechercheAPI" method="post">
        <div class="form-group">
            <label for="nomJeu">Nom du Jeu:</label>
            <input type="text" class="form-control" id="nomJeu" name="searchName" required>
        </div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
</div>
