@using Boutique_en_ligne.Models
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor           // Permet d'accéder à la session de l'utilisateur pour savoir si c'est un client ou un vendeur'

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var session = HttpContextAccessor.HttpContext.Session;
    var userProfil = session.GetString("UserProfil");
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique de Jeux Vidéo</title>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @{
                string boutiqueUrl = "/Home/Index";
                if (!string.IsNullOrEmpty(userProfil))
                {
                    if (userProfil == "Client")
                    {
                        boutiqueUrl = "/Client/Index";
                    }
                    else if (userProfil == "Vendeur")
                    {
                        boutiqueUrl = "/Vendeur/Index";
                    }
                }
            }
            <a class="navbar-brand col-2" href="@boutiqueUrl">Nom Boutique</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end col-10" id="navbarNav">
                <ul class="navbar-nav">
                    @if (string.IsNullOrEmpty(userProfil)) // L'utilisateur n'est pas connecté 
                    {
                        <li class="nav-item">
                            <button class="btn btn-outline-light mx-2" onclick="location.href='/Home/Authentification'"><i class="bi bi-key"></i> Connexion</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-light mx-2" onclick="location.href='/Home/Inscription'"> <i class="bi bi-person-plus"></i> Inscription</button>
                        </li>
                    }
                    else if (userProfil == "Client")  // Conditon pour quand un Client est connecté
                    {
                        <li class="nav-item">
                            <button class="btn btn-outline-light mx-2" onclick="location.href='/Panier/Index'"><i class="bi bi-cart"></i> Panier</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-light mx-2" onclick="location.href='/Facture/Index'"><i class="bi bi-receipt"></i> Facture</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-light mx-2" onclick="location.href='/Client/Profil'"><i class="bi bi-person"></i> Profil</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-light mx-2" onclick="location.href='/Statistiques/Index'"><i class="bi bi-graph-up"></i> Statistiques</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-light mx-2" onclick="location.href='/Client/CarteCredit'"><i class="bi bi-cash"></i> Solde</button>
                        </li>   
                    }
                    else if (userProfil == "Vendeur")  // Conditon pour quand un Vendeur est connecté
                    {
                        <li class="nav-item">
                            <button class="btn btn-outline-light mx-2" onclick="location.href='/Vendeur/Profil'"><i class="bi bi-person"></i> Profil</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-light mx-2" onclick="location.href='/ArticlesDisponibles/Index'"><i class="bi bi-archive"></i> Articles Disponibles</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-light mx-2" onclick="location.href='/Statistiques/Index'"><i class="bi bi-graph-up"></i> Statistiques</button>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav> 

    <div class="container mt-4">
        @RenderBody()
    </div>
</body>
</html>


                        