@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Page statistique</h1>

<!-- Montant des ventes -->
<h2>Montant des ventes</h2>


<!-- Statistiques -->
<h2>Statistiques</h2>

<!-- Liste des jeux vendus -->
<h2>Jeux vendus</h2>
<ul id="soldGamesList">
    <!-- Utilisez JavaScript pour afficher la liste des jeux vendus -->
</ul>